<div class="talk-header">
    {% if ablogpost.author == current_user %}
    <a class="btn btn-primary pull-right" href="{{ url_for('blog.edit_blogpost', id=ablogpost.id) }}">Edit</a>
    {% elif current_user.is_admin %}
    <a class="btn btn-danger pull-right" href="{{ url_for('blog.edit_blogpost', id=ablogpost.id) }}">Edit</a>
    {% endif %}
    <h2><a href="{{ url_for('blog.getblogpost', id=ablogpost.id) }}">{{ ablogpost.title }}</a></h2>
    <h3>{{ ablogpost.description }}</h3>
    <div class="pull-right"><a href="{{ url_for('blog.getblogpost', id=ablogpost.id) }}#comments">
        <span class="label label-default">Comments: {{ ablogpost.approved_comments(count=True) }}</span></a>
    </div>
    <p>
        Written by <a href="{{ url_for('blog.user', username=ablogpost.author.username) }}"><img src="{{ ablogpost.author.gravatar(12) }}">{{ ablogpost.author.username }}</a> at
        {% if ablogpost.venue_url %}
            <a href="{{ ablogpost.venue_url }}">{{ ablogpost.venue }}</a>
        {% else %}
            {{ ablogpost.venue }}
        {% endif %}
        on {{ moment(ablogpost.date, local=True).format('LL') }}.
    </p>
</div>

